*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav1{
    background-color: rgb(46, 46, 216);
}
.ul1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}
li{
    list-style-type: none;
}
.a1{
    color: #fff;
    text-decoration: none;
}
.a1:hover{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-bottom: solid 4px black;
    border-radius: 1rem;
    padding-left: 12px;
    padding-right: 12px;
}
.d1{
    border: royalblue solid 2px;
    background-color: royalblue;
    padding-bottom: 120px;
    padding-top: 120px;
    margin-top: 25px;
}
.h11{
    font-size: 20px;
    text-align: center;
}
.d21{
    border: solid rgb(158, 156, 156) 2px;
    border-top: royalblue solid 30px;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: royalblue solid 30px;
    padding-bottom: 60px;
    padding-top: 20px;
    border-radius: 1rem;
    margin-bottom: 60px;
}
.h41{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h21{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.d21:hover{
    border: solid rgb(158, 156, 156) 2px;
    border-top: royalblue solid 30px;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: royalblue solid 30px;
    padding-bottom: 60px;
    padding-top: 20px;
    border-radius: 1rem;
    background-color: royalblue;
    box-shadow: 0 8px 16px royalblue;
}
.d3{
    border: white solid 2px;
    border-radius: 1rem;
    box-shadow: 0 6px 12px black;
    margin-left: 25px;
    margin-right: 25px;
}
.h12{
    border-bottom: royalblue solid 3px;
    border-radius: 1rem;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 75px;
    margin-left: 45px;
    margin-right: 45px;
}
a{
    color: black;
    text-decoration: none;
}
.h13{
    text-align: center;
    font-size: 20px;
    border-bottom: solid royalblue 2px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.p1{
    text-align: center;
    font-size: 15px;
}
.d31{
    border: chartreuse solid 2px;
    background-color: chartreuse;
    border-radius: 1rem;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 50px;
}
.h22{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.d32{
    border: crimson solid 2px;
    background-color: crimson;
    border-radius: 1rem;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 50px;
}
.d33{
    border: rgba(20, 20, 20, 0.329) solid 2px;
    background-color: rgba(20, 20, 20, 0.329);
    border-radius: 1rem;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.d6{
    border: royalblue solid 2px;
    background-color: royalblue;
    border-radius: 2rem 2rem 0 0;
    margin-top: 100px;
}
.h14{
    text-align: center;
    margin-bottom: 10px;
}
